.container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}

.wave {
  position: absolute;
  border-radius: 50%;
  background-color: var(--ripple-color);
  animation: ripple 700ms;
  pointer-events: none;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .container {
    display: none;
  }
}
